<!-- your html code here -->


    <!-- First Heading Section -->
<div class="container my-5">
    <div class="row">
        <!-- Text column -->
        <div class="col-md-8 d-flex flex-column align-items-start">
            <h2 class="fw-bold">This First Heading <span class="text-muted">Will Catch Your Eye</span></h2>
            <p>
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        
        <!-- Image -->
        <div class="col-md-4 text-center">
            <img src="./assets/img/1.jpg" alt="Circular Image" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
