<!-- your html code here -->
<div class="container">
    <tr>
        <div class="container pt-5 pb-5">
            <div class="row">
              <h2 id="porfolio">Porfolio</h2>
              <p>Kickstart your career at 4Geeks Academy, where developers grow and thrive. Named among the world’s best coding bootcamps of 2024 by Course Report, chosen best coding bootcamp for students on a budget in 2024 by Forbes, and rated 4.92/5 on Switchup. Licensed by the Florida Department of Education, USA.</p>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="bg-secondary mb-2 box">
                    </div>
                    <p class="h5 text-primary">Project Name</p>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!</p>
                </div>
                <div class="col-md-4">
                    <div class="bg-secondary mb-2 box">
                    </div>
                    <p class="h5 text-primary">Project Name</p>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!</p>
                </div>
                <div class="col-md-4">
                    <div class="bg-secondary mb-2 box">
                    </div>
                    <p class="h5 text-primary">Project Name</p>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi earum non veniam officiis facilis vitae!</p>
                </div>

            </div>

        </div>

    </tr>
</div>